<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="scXlsData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="scXlsData.Properties.Settings.SK_XLSDATAConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\SK_XLSDATA\MDB\SK_XLSDATA.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <scXlsData.Properties.Settings>
            <setting name="xlsSheetName" serializeAs="String">
                <value>解約管理表</value>
            </setting>
            <setting name="imPortPath" serializeAs="String">
                <value>C:\SK_XLSDATA\WORK\WORK.xlsx</value>
            </setting>
        </scXlsData.Properties.Settings>
    </applicationSettings>
</configuration>